* {
    cursor: none;
  }
  
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: white;
  }
  a:hover,
  a:active {
    color: black;
  }
  body {
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  h1 {
    font-size: 40px;
    font-family: "neuzeit-grotesk", Helvetica, sans-serif;
    letter-spacing: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5em;
  }
  
  .cursor {
    position: absolute;
    width: 50px;
    height: 45px;
    z-index: -1;
  }
  .cursor:before,
  .cursor:after {
    position: absolute;
    content: "";
    left: 25px;
    top: 0;
    width: 25px;
    height: 40px;
    background: white;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  .cursor:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  .cursor:nth-child(2):before,
  .cursor:nth-child(2):after {
    background: red;
  }
  
  .line-1 {
    position: relative;
    color: white;
    top: 50%;
    width: 52em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  /* Animation */
  .anim-typewriter {
    animation: typewriter 4s steps(45) 1s 1 normal both,
      blinkTextCursor 500ms steps(45) infinite normal;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 52em;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }
  